* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #000;
}


/* HEADER */

.header {
    display: inline-block;
    width: 100%;
    height: 16vh;
    text-align: center;
    background: black;
}

 .header-info {
    color: white;
    font-size: 12px;
 }

.header img {
    margin: 5px 0 0 0;
    height: 80px;
}


/* SECTION */

.content {
    width: 100%;
    max-width: 1920px;
    height: 74vh;
    overflow: hidden; 
    background-image: url("../img/banner-bottom.png");
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.content .subtitle {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 8vh 0 0 0;
}


/* LOGIN FORM AND BUTTON */

.login {
    width: 100%;
}

.login .login-code {
    width: 20%;
    padding: 9px 15px;
    font-size: 18px;
    display: inline-block;
    margin-left: 0px;
    border: 3px solid #dd755c;
    border-radius: 20px;
}

.login .login-btn {
    padding: 12px 25px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 800;
    display: inline-block;
    color: #fff;
    background: #ce6d54;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.login .login-btn:hover {
    background: #c64228;
    transition: 0.3s;
}


/* INFO */

.info-container {
    height: 50px;
    width: 100%;
    margin-top: 40px;
}

.info-container .info {
    color: #fff;
    text-align: left;
    display: inline-block;
    border: 2px solid #dd755c;
    overflow: hidden;
    padding: 10px;
    margin: 0 15px;
}

.info-container img {
    height: 60px;
    display: inline-block;
    margin-right: 5px;
}

.info-container .text-info {
    display: inline-block;
    font-size: 10px;
}

.info-container .text-info span {
    color: #dd8a75;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
    background: black;
    overflow: hidden;
}

.footer .footer-description {
    font-size: 40px;
    display: inline-block;
    align-items: center;
}

.footer-info {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
}