* {
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

/* HEADER */

.header {
    display: flex;
    width: 100%;
    height: 11vh;
    align-items: center;
    justify-content: space-between;
    background: black;
    overflow: hidden;
}
 .header-info {
    margin-top: 5px;
    margin-right: 1vw;
    color: white;
    font-family: 'Poppins', sans-serif;
 }

.header img {
    margin-left: 1vw;
    height: 40px;
}


/* SECTION */

.content {
    width: 100%;
    height: 82vh;
    overflow: hidden;
}


/* VIDEO */

.content .video {
    width: 70%;
    height: 100%;
    float: left;
    background: linear-gradient( rgba(0,0,0,1) 30%, rgba(219,99,64,1) 70%);
}


/* CHAT */

.content .chatbox {
    width: 29%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0,1) 30%, rgba(219,99,64,1) 70%);
    padding: 5px;
    margin: 0;
    float: left;
    overflow: hidden;
    z-index: 1;
}

.chatlogs {
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 66vh;
    background: #eee;
    overflow-x: hidden;
    overflow-y: scroll;

}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 46px;
    height: 46px;
    background: #ccc;
    border-radius: 50%;
}

.chat .chat-message {
    width: 70%;
    padding: 15px;
    margin: 0px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

.user .chat-message {
    background: #1adda4;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.chat-form {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: #fbfbfb;
    width: 80%;
    height: 25px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border-radius: 15px;
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.chat-form .chat-btn {
    background: #1ddced;
    padding: 11px 15px;
    font-size: 20px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 15px;

}

.chat-form .chat-btn:hover {
    background: #13c8d9;
}


/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
    background: black;
    overflow: hidden;
}

.footer .footer-description {
    font-size: 40px;
    display: inline-block;
    align-items: center;
}

iframe {
    position: absolute;
    display: block;
    height: 80%;
    width: 85%;
    border-radius: 15px;
    z-index: 1;
}

.video {
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

.banner {
    justify-self : flex-end;
    width: 100%;
    z-index: 0;
}

.footer-info {
    color: #666666;
    font-family: 'Poppins', sans-serif;
}

.banner-div {
    margin-top: 370px;
    position: absolute;
}